## Tuple

In [4]:
tup=('a','bc',78,1.23)
tup2=('d',78)
print('First element of the tuple :',tup[0])
print('Element starting from 2nd till 3rd :',tup[1:3])
print('Element starting fromd 3rd :',tup[2:])
print('Repeat :',tup*2)
print('concatenate : ',tup+tup2)

First element of the tuple : a
Element starting from 2nd till 3rd : ('bc', 78)
Element starting fromd 3rd : (78, 1.23)
Repeat : ('a', 'bc', 78, 1.23, 'a', 'bc', 78, 1.23)
concatenate :  ('a', 'bc', 78, 1.23, 'd', 78)

## List--( similar to array )

In [5]:
#list contain items of different datatype
#array contain items of same datatype

In [7]:
list=['a','bc',1.23]
list2=['d',78]
print('All elements in list :',list)
print('First element in list :',list[0])
print('Element from 1st till 3rd :',list[1:3])
print('Element starting from 3rd',list[2:])
print('Reapeat :',list*2)
print('Concatenation :',list+list2)

All elements in list : ['a', 'bc', 1.23]
First element in list : a
Element from 1st till 3rd : ['bc', 1.23]
Element starting from 3rd [1.23]
Reapeat : ['a', 'bc', 1.23, 'a', 'bc', 1.23]
Concatenation : ['a', 'bc', 1.23, 'd', 78]

### Dictionary

In [10]:
dic={"ITEM":"Chocolate","Price":100}
print(dic['ITEM'])
print(dic['Price'])

Chocolate
100

### TYPE_CONVERSION

In [11]:
"20" + "50 "

'2050 '

In [12]:
int("20") + int("50 ")

70

In [13]:
#without convertin datatype
var_X=input("Enter the NUMBER 1 :")
var_Y=input("Enter the NUMBER 2 :")
print(var_X+var_Y)

Enter the NUMBER 1 :10
Enter the NUMBER 2 :5
105

In [15]:
#Converting datatype
var_1=int(input("Enter the NUMBER 1 :"))
var_2=int(input("Enter the NUMBER 2 :"))
print(var_1+var_2)

Enter the NUMBER 1 :10
Enter the NUMBER 2 :5
15