In [7]:
_hello="OP"
_hello

'OP'

In [6]:
___hello="Op"
___hello

'Op'

In [8]:
var_n=1
var_n

1

In [10]:
_float=3.322
_float

3.322

In [35]:
booll=True

In [36]:
print(type(_hello))
print(type(_float))
print(type(var_n))
print(type(booll))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [13]:
num=7
amt=123.45
Code='A'
pi=3.1415192
population_of_india=10000000
msg="Hi"

In [17]:
#printing different data type in single type
print("NUM = "+str(num))
print("\nAMT = "+str(amt))
print("\nCODE = "+str(Code))
print("\nPOPULATION OF INDIA = "+str(population_of_india))
print("\nMESSAGE = "+str(msg))

NUM = 7

AMT = 123.45

CODE = A

POPULATION OF INDIA = 10000000

MESSAGE = Hi

In [18]:
#program to reassign values to a varible
val='Hello'
print(val)
val=100
print(val)
val=12.34
print(val)

Hello
100
12.34

In [20]:
var_n#python remembers the varible

1

In [21]:
#multiple assignments
sum=flag=a=b=0

In [22]:
flag

0

In [23]:
a

0

In [24]:
b

0

In [25]:
sum

0

In [27]:
#prgram to assign and access variable
str="HELLO"
num_=10
print(str)
print(num_)

HELLO
10

In [29]:
print(age)#error___variable not decleared prior to print to its use

NameError: name 'age' is not defined

In [30]:
num_

10

In [31]:
del num_

In [33]:
num_#variable being used afterr deleting it

NameError: name 'num_' is not defined

In [42]:
mesg_="Hello"
print(mesg)

Hello

In [43]:
mesg="Hello";
print(mesg);#avoid semicolon

Hello

In [44]:
print(mesg)

Hello

In [46]:
# code assign and access Boolean variable
Boolean_var=True
print(Boolean_var)

True

In [47]:
20==30

False

In [50]:
"Python"=='Python'

True

In [53]:
20!=20

False

In [54]:
90<=90

True

In [55]:
87==87.0

True

In [56]:
87>87.0

False

In [57]:
87<87.0

False

In [58]:
87>=87.0

True